@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
}

html {
  font-size: 50.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  animation: both;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #fdfafa;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #9e9ed7;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background: url("login-bg1.png");
}


/**/
header {
  background: linear-gradient(135deg, #08172a, #0b2a5f);
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(54, 54, 54, 0.5);
  z-index: 10;
  position: sticky;
  top: 0%;
}

header h1 {
  margin: 0;
  font-size: 0.5em;
  letter-spacing: 2px;
}



.search-box{
  flex: 1;
  position: relative;
  margin-top: 5px;
}

.search-box input{
    width: 100%;
    height: 26px;
    border: none;
    outline: none;
    background: #5fc2f445;
    border-radius: 30px;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
}

.search-box button{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 3px;
  right: 5px;
  transform: scale(0.9);
  background-color: #ec994b;
}

.search-box button img{
  width: 16px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 12px;
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  transition: transform 0.3s ease-in-out, color 0.3s;
}

nav ul li a:hover {
  transform: scale(1.1);
  color: #5fc2f4;
}

.logo {
  text-align: left;
}

.logo img{
  width: 50%;
}

nav ul input[type=text] {
  float: right;
  padding: 4px 0px;
  border-radius: 20px;
  border: #05496b;
  background: #05496b;
  font-size: 0.7em;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}  

.headbox {
  display: flex;
  gap: 20rem;
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 15px;
}

/*----*/

  .container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.614);
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    color: #08172a;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    color: #08172a;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
  }

  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-bottom: 15px;
  }
  
  .remember-forgot label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 8px;
  }

  .remember-forgot label p{
    font-size: 8px;
    text-align: left;
}
  
  .remember-forgot a {
    font-size: 8px;
    color: #d96a03;
    text-decoration: none;
    font-weight: bold;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  .btn {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-size: 10px;
    cursor: pointer;
  }
  
  .login-btn {
    background: #ec994b;
    color: white;
  }
  
  .login-btn:hover {
    background: #d8823b;
  }

  .register {
    color: #4e4e4e;
    font-size: 7px;
    margin-top: 10px;
  }
  
  .register-text {
    color: #4e4e4e;
    font-size: 10px;
    margin-top: 10px;
  }
  
  .register-text a {
    color: #d96a03;
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-text a:hover {
    text-decoration: underline;
  }
  
  .social-login {
    margin: 10px;
    display: flex;
  }
  
  .google-btn, .facebook-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px;
  }
  
  .google-btn img, .facebook-btn img {
    width: 10px;
  }

  .google-btn {
    border: 1.5px solid #aa0303;
    color: #aa0303;
  }
  
  .google-btn:hover {
    color: #ffffff;
    background: #aa0303;
  }
  
  .facebook-btn {
    border: 1.5px solid #1256b0;
    color: #1256b0;
  }
  
  .facebook-btn:hover {
    color: #ffffff;
    background: #1256b0;
  }
/*----*/

.foot{
    text-align: center;
    color: #ffffff;
    padding: 10px;
  }
