@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
}

html {
    font-size: 50.5%;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    animation: both;
  }

  @media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  }

body {
    font-size: 1.6rem;
    background: url("design.png");
  }
  
  /**/
  header {
    background: linear-gradient(135deg, #08172a, #0b2a5f51);
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(54, 54, 54, 0.5);
    z-index: 10;
    position: sticky;
    top: 0%;
  }
  
  header h1 {
    margin: 0;
    font-size: 0.5em;
    letter-spacing: 2px;
  }
  
  
  
  .search-box{
    flex: 1;
    position: relative;
    margin-top: 5px;
  }
  
  .search-box input{
    width: 100%;
    height: 26px;
    border: none;
    outline: none;
    background: #5fc2f4;
    border-radius: 30px;
    color: #171061;
    font-size: 1em;
    text-align: center;
  }
  
  .search-box button{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 3px;
    right: 5px;
    transform: scale(0.9);
    background-color: #ec994b;
  }
  
  .search-box button img{
    width: 16px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin-top: 12px;
    text-align: right;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    transition: transform 0.3s ease-in-out, color 0.3s;
  }
  
  nav ul li a:hover {
    transform: scale(1.1);
    color: #5fc2f4;
  }
  
  .logo {
    text-align: left;
  }
  
  nav ul input[type=text] {
    float: right;
    padding: 4px 0px;
    border-radius: 20px;
    border: #05496b;
    background: #05496b;
    font-size: 0.7em;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }  

  .headbox {
    display: flex;
    gap: 20rem;
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 15px;
  }
/*/*/

h1{
    color: #ec994b;
    font-size: 4rem;
    text-align: center;
    margin: 20px 0;
} 

label{
    font-size: 1.5rem;
    color: #ec994b;
    margin: 20px 0;
}
.search-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1;
    position: relative;
    margin-top: 5px;
    border: none;
  outline: none;
  border-radius: 30px;
  color: #171061;
  font-size: 1em;
  text-align: center;
}

.search-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

#additional-filters-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.select__css{
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
.text__input{
    padding: 6px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
}

.btn{
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.search-type{
    flex: 1;
    position: relative;
    margin-top: 5px;
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.result-item {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    font-size: 8px;
    padding-bottom: 10px;
    background-color: #dadada;
    color: #333;
    position: relative;

}

.result-item img {
    width: 100%;
    height: 200px;
}

.result-details {
    background-color: #ccc;
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: -175px;   
    transition: ease-in-out .5s;
    margin-top: 10px;
}

.result-item:hover .result-details {
    bottom: 0;
}

.suggestions-container {
    border: 1px solid #680d0d;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 1000;
    
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;

}

.suggestions-container::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;

  }

.suggestion-item:hover {
    background-color: #f0f0f0;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#page-info{
    color: #fff;
}
